*{
  box-sizing: border-box;
  margin: 0;
  padding: 2;
}

.column1, .column2 {
  float: left;
  width: 50%;
  min-height: 300px;
  flex: 50%;
  height: 100%; 
}

.column2{
  padding: 2%;
}

.column1{
	background-color: rgb(92,39,209);
  height: 680px;
}

input::placeholder{
  color:black;
  border-color: transparent;
  font-style: italic;
  opacity: 3; 
}

.btn{
  height: 30px;
  width: 50%;
  background-color: rgb(92,39,209);
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

input[type="text"] {
  border: 1px black solid ; 
  background-color: rgb(252, 248, 248);
  padding: 1em;
  opacity:1;
  width: 50%;
  height: 40px;
  border-radius: 5px; 
}

.centreright p{
  font-family: Arial, Helvetica, sans-serif;
}

.topright{
  height: 20vw;
  padding: 2px;
  font-family:  'Arial Narrow Bold', sans-serif;
}

.topright p{
  color: rgb(117, 103, 103);
}

.centreright{
  height: 15vw;
  padding-top: 3px;
}

.topleft h2, img{
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 2%;
  height: 70%; 
}

.form{
  height: 20vw;
}

.innerform{
  height: 5vw;
}

.btnholder{
  padding-top: 6vw;
  padding-bottom: 2vw;
}

/* Responsive layout - when the screen is less than 768px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
.column1, .column2 {
    width: 100%;
    height: 100%;
    
}

}